
/* DEV WARS STYLES */

@font-face {
    font-family: 'starjhol';
    src: url('../fonts/starjhol-webfont.woff2') format('woff2'),
         url('../fonts/starjhol-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.reveal h1 {
  font-family: 'starjhol';
}

.fade {
  position: relative;
  width: 100%;
  min-height: 60vh;
  top: -25px;
  z-index: 1;
}

.star-wars {
  display: none;
}

.present .star-wars {
  display: flex;
  position: relative;
  justify-content: center;
  height: 400px;
  line-height: 150%;
  perspective: 800px;
  text-align: justify;
}

.present .crawl {
  position: absolute;
  top: 9999px;
  transform-origin: 0% 100%;
  animation: crawl 160s linear;
}

.message {
  position: absolute;
  top: 280px;
  width: 299px;
  height: 204px;
  background-position: center;
  background-repeat: no-repeat;
}

.message.left {
  left: 280px;
  background-image: url('../img/left-message.png');
}

.message.right {
  right: 280px;
  background-image: url('../img/right-message.png');
}

.thinking {
  position: absolute;
  top: 100px;
  right: 170px;
  width: 320px;
  height: 247px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../img/cloud.png');
}

.message span,
.thinking span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90%;
  padding: 15px;
  box-sizing: border-box;
  color: #000;
  font-size: 24px;
}

@keyframes crawl {
  0% {
    top: 0;
    transform: rotateX(20deg)  translateZ(0);
  }
  100% { 
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}